@import url("https://fonts.googleapis.com/css?family=Biryani:400,900");
.about, .projects, .contact {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: -100%;
  transition: all 1s;
  background-color: white;
  z-index: 1; }
  .about h1.title, .projects h1.title, .contact h1.title {
    font-size: 64px;
    font-weight: 900; }

.about-menu-tag h5, .projects-menu-tag h5, .contact-menu-tag h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: slategrey; }

.about-menu-tag, .projects-menu-tag, .contact-menu-tag {
  position: absolute;
  width: 50px;
  right: -70px;
  height: 25%;
  border: none;
  cursor: pointer; }
  .about-menu-tag h5, .projects-menu-tag h5, .contact-menu-tag h5 {
    text-transform: uppercase;
    font-size: 11px; }

.about .close, .projects .close, .contact .close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1em;
  z-index: 4; }
  .about .close .x1, .projects .close .x1, .contact .close .x1 {
    top: 22px;
    position: absolute;
    height: 5px;
    width: 50px;
    transform: rotateZ(45deg); }
  .about .close .x2, .projects .close .x2, .contact .close .x2 {
    top: 22px;
    position: absolute;
    height: 5px;
    width: 50px;
    transform: rotateZ(-45deg); }

@media screen and (max-width: 640px) {
  .about .close, .projects .close, .contact .close {
    top: 5px;
    right: 5px; } }
@keyframes textColors {
  0% {
    color: #a4c4e8; }
  50% {
    color: #fef8be; }
  100% {
    color: #f6a23b; } }
.about {
  border: 20px solid #a4c4e8; }
  .about .words-container {
    width: 55%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 35px;
    text-align: justify;
    overflow-y: auto; }
    .about .words-container span {
      color: #a4c4e8; }
    .about .words-container h4 {
      text-align: center; }
    .about .words-container p {
      margin-bottom: 15px; }
    .about .words-container a {
      color: #a4c4e8; }
    .about .words-container ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      list-style-type: none; }
      .about .words-container ul li {
        justify-self: center; }
  .about .image-container {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    right: 0;
    width: 45%;
    height: 100%;
    background: url("https://res.cloudinary.com/dyqesnour/image/upload/v1515930436/_DSC4760-Edit-Edit_upxbdx.jpg");
    background-size: cover;
    background-position: 90%; }
    .about .image-container img {
      height: auto;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      right: 0; }
  .about .close * {
    background-color: #a4c4e8; }

.about-menu-tag {
  background-color: #a4c4e8;
  top: -20px; }

@media screen and (max-width: 640px) {
  .about .words-container {
    width: 100%;
    overflow-y: auto;
    font-size: 14px;
    z-index: 2;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 28px; }
    .about .words-container h1 {
      font-size: 40px;
      text-align: center;
      margin-top: 20px; }
    .about .words-container ul {
      grid-template-columns: 1fr 1fr; }
  .about .image-container {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    filter: brightness(0.4); } }
.projects {
  border: 20px solid #fef8be; }
  .projects .close * {
    background-color: #fef8be; }
  .projects .projects-container {
    min-width: 100%;
    height: 100%;
    overflow-y: auto; }
    .projects .projects-container h1 {
      font-size: 64px;
      text-align: center;
      margin-bottom: 10px; }
      .projects .projects-container h1 span {
        color: #fef8be; }
    .projects .projects-container .project {
      width: 80%;
      margin: 0 auto;
      transition: width 1s;
      margin-bottom: 50px; }
      .projects .projects-container .project .words {
        display: inline-block;
        width: calc(100% - 400px);
        vertical-align: top;
        text-align: center; }
        .projects .projects-container .project .words .tech {
          display: block;
          width: 80%;
          margin: 0 auto 10px;
          text-align: left; }
          .projects .projects-container .project .words .tech h5 {
            padding-left: 20px;
            display: inline-block; }
          .projects .projects-container .project .words .tech p {
            padding: 0 0 0 20px;
            display: inline; }
      .projects .projects-container .project a {
        display: inline-block;
        margin: 0 20px;
        color: #a4c4e8; }
      .projects .projects-container .project .img-link {
        display: inline-block;
        margin: 0; }
      .projects .projects-container .project p {
        padding: 0 20px;
        margin: 0 auto 20px;
        width: 80%;
        font-size: 14px;
        text-align: left; }
      .projects .projects-container .project h2 {
        text-align: center; }
      .projects .projects-container .project img {
        width: 396px;
        height: auto;
        display: inline-block;
        box-shadow: 0 0 16px 2px #282828; }

.projects-menu-tag {
  background-color: #fef8be;
  top: calc(25% - 25px); }

@media screen and (max-width: 640px) {
  .projects .projects-container h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: -10px;
    text-align: center;
    padding: 25px; }
  .projects .projects-container .project {
    padding: 0 25px 20px;
    border-bottom: 5px dashed slategrey; }
    .projects .projects-container .project .words {
      width: 100%; }
      .projects .projects-container .project .words p {
        padding: 5px;
        width: 100%;
        margin: 0; }
      .projects .projects-container .project .words .tech p,
      .projects .projects-container .project .words .tech h5 {
        font-size: 10px;
        padding: 0 5px; }
    .projects .projects-container .project img {
      width: 100%;
      margin: 10px auto 0;
      display: block; } }
.contact {
  border: 20px solid #f6a23b;
  padding: 50px;
  text-align: center; }
  .contact .contact-container h1, .contact .contact-container h2 {
    text-align: center; }
  .contact .contact-container h1 {
    font-size: 64px;
    margin: -25px; }
    .contact .contact-container h1 span {
      color: #f6a23b; }
  .contact .contact-container h2 {
    font-weight: 400; }
  .contact .contact-container h3 {
    margin: 20px auto;
    text-align: center; }
  .contact .contact-container p.email {
    margin-top: -25px;
    margin-bottom: 40px; }
  .contact .contact-container .socials {
    text-align: center; }
    .contact .contact-container .socials a {
      margin: 0 20px;
      color: #a4c4e8; }
  .contact .contact-container form * {
    border: none;
    border-bottom: 1px solid grey;
    padding: 5px;
    line-height: 40px; }
  .contact .contact-container form *:focus {
    outline: #f6a23b groove; }
  .contact .contact-container form #form-name {
    width: 200px;
    height: 40px; }
  .contact .contact-container form #form-email {
    width: 200px;
    height: 40px; }
  .contact .contact-container form #form-subject {
    display: block;
    margin: 0 auto 5px;
    width: 400px;
    height: 40px; }
  .contact .contact-container form #form-message {
    width: 400px;
    height: 300px;
    border: 1px solid grey; }
  .contact .contact-container form button {
    border: 1px solid #a4c4e8;
    display: block;
    margin: 0 auto;
    line-height: 20px; }
  .contact .close * {
    background-color: #f6a23b; }

.contact-menu-tag {
  background-color: #f6a23b;
  top: calc(50% - 25px); }

@media screen and (max-width: 640px) {
  .contact {
    padding: 0; }
    .contact .contact-container {
      overflow-y: auto;
      height: 100%;
      width: 100%;
      padding: 20px; }
      .contact .contact-container h1 {
        font-size: 40px;
        margin: 0;
        margin-top: 20px; }
      .contact .contact-container .socials a {
        margin: 0 8px; }
      .contact .contact-container form #form-message, .contact .contact-container form #form-subject {
        width: 200px; }
      .contact .contact-container form #form-message {
        height: 200px; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Biryani', sans-serif; }

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: url("https://res.cloudinary.com/dyqesnour/image/upload/v1515899143/_DSC6712-Edit-Edit-Edit-Edit_ckiut0.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

button {
  border: none; }

.tagline {
  background-color: #030F4C;
  color: white;
  position: absolute;
  right: 0;
  bottom: 10%;
  width: 25%;
  padding-left: 30px;
  height: 45px;
  line-height: 45px;
  z-index: 0;
  animation: slideLeft 1s ease-in-out 0s 1; }

.hover:hover {
  transform: translateX(1%);
  z-index: 5; }

.selected {
  transform: translateX(100%);
  z-index: 1; }

.not-selected {
  transform: translateX(-1.4%);
  z-index: 5; }

.about-box, .projects-box {
  transition: all 1s; }

@media screen and (max-width: 600px) {
  body {
    background-size: cover;
    background-position: 48%; }

  .about-menu-tag h5, .projects-menu-tag h5, .contact-menu-tag h5 {
    font-size: 8px; }

  .not-selected {
    transform: translateX(-5%); }

  .tagline {
    width: 60%;
    font-size: 8px; } }
@keyframes slideLeft {
  0% {
    transform: translateX(100%); } }

/*# sourceMappingURL=index.css.map */
