@import url('https://fonts.googleapis.com/css?family=Biryani:400,900');
@import 'globals';
@import 'about';
@import 'projects';
@import 'contact';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Biryani', sans-serif;
}

body {
  overflow: hidden;
  // position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: url("https://res.cloudinary.com/dyqesnour/image/upload/v1515899143/_DSC6712-Edit-Edit-Edit-Edit_ckiut0.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  border: none;
}

.tagline {
  // display: none;
  background-color: #030F4C;
  color: white;
  position: absolute;
  right: 0;
  bottom: 10%;
  width: 25%;
  padding-left: 30px;
  height: 45px;
  line-height: 45px;
  z-index: 0;
  animation: slideLeft 1s ease-in-out 0s 1;
}







// .box:hover .about, .box:hover .projects, .box:hover .contact {
//   transform: translateX(1%);
//   cursor: pointer;
//   z-index: 5;
// }

.hover:hover {
  transform: translateX(1%);
  z-index: 5;
}

.selected {
  transform: translateX(100%);
  z-index: 1;
}

.not-selected {
  transform: translateX(-1.4%);
  z-index: 5;
}

.about-box, .projects-box {
  transition: all 1s;
}




@media screen and (max-width: 600px) {

  body {
    background-size: cover;
    background-position: 48%;
  }

  %tabs {
    h5{ font-size: 8px;}
  }

  .not-selected {
    transform: translateX(-5%);
  }

  .tagline {
    // display: block;
    // position: absolute;
    // color: white;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // padding-left: 50px;
    // text-align: center;
    // bottom: 10%;
    width: 60%;
    font-size: 8px;
  }

}


@keyframes slideLeft {
  0% { transform: translateX(100%); }
}
